{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>Tesfa Asmara</h3>

<address>
    tgac2020@mymail.pomona.edu<br />
    tesfaasmara.com<br />
</address>

<address>
    <p>Pomona college Junior </p>
    <p>Computer Science and Math </p>
</address>

<h3>Rohan Lopez</h3>

<address>
    rola2018@mymail.pomona.edu<br />
</address>

<address>
    <p>Pomona college senior </p>
    <p>Physics and Math </p>

</address>

<h3>Bailey Williams </h3>

<address>
    blwh2022@mymail.pomona.edu<br />
</address>

<address>
    <p>Pomona college Freshman </p>
    <p>Computer Science</p>
</address>

<h3>Omaru Konneh</h3>

<address>
    okab2021@mymail.pomona.edu<br />
</address>

<address>
    <p>Pomona college Sophmore </p>
    <p>Computer Science</p>
</address>









{% endblock %}
